<div class="login-container">
  <div class="login-card">

    <img 
      src="../../../assets/images/LOGO.svg"
      class="logo-image"
      alt="CTRL+F Logo"
      (error)="onImageError($event)"
    />

    <h2 class="subtitle">Faça o login para continuar</h2>


    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-row">
        <div class="input-group">
          <input type="text" formControlName="cpf" placeholder="CPF" />
        </div>
      </div>

      <div class="input-row">
        <div class="input-group">
          <input type="password" formControlName="password" placeholder="Password" />
        </div>
      </div>

      <div class="forgot-password">
        <a href="#">Esqueceu a senha?</a>
      </div>

      <button type="submit" class="login-btn">LOGIN</button>
    </form>

    <p class="signup-text">
      Novo aqui? <a routerLink="/register">Criar uma conta</a>
    </p>

  </div>
</div>