:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f5f7fa;
}

main.main-content {
  padding-top: 84px;
  display: flex;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  background: #f5f7fa;
  min-height: 100vh; 
}