<div class="metas-root">
  <div class="alerts card">
    <h4>Alertas</h4>
    <div class="alerts-row">
    </div>
  </div>

  <div class="goals card">
    <h4>Metas</h4>
    <div class="goals-content">
      <div class="legend">
        <div class="legend-item" *ngFor="let meta of metas; let i = index">
          <div class="dot" [ngClass]="'dot' + (i + 1)">
            {{ meta.percentual }}%
          </div>
          <span class="meta-nome">{{ meta.nome }}</span>
        </div>
      </div>

      <div class="pie-wrap">
        <canvas #pieCanvas></canvas>
      </div>
    </div>
  </div>
</div>

<app-ai-agent></app-ai-agent>
